/* ==========================================================================
   Sea theme skin
   ========================================================================== */

/* Colors */
$base-color: #41506b !default;
//$text-color: #90f6d7 !default;
$text-color: #eaeaea !default;
//$accent-color: #35bcbf !default;
$accent-color: #d99125 !default;
//$accent-color: #528182 !default;
$background-color: #263849 !default;
$code-background-color: #5e5e5e !default;
$border-color: rgba(#5e5e5e, 0.5) !default;
$overlay-color: #5e5e5e !default;

kbd {
  background-color: #fff;  // Changes background color
  color: #333;                  // Changes text color
}
